<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/pp.jpeg" alt="Neno Arisma" class="rounded-circle img-thumbnail" width="300">
            <h1 class="display-4">Neno Arisma</h1>
            <p class="lead">Just a paragraph</p>
        </div>
    </div>
</div>